<div class="d-flex align-content-stretch w-100">

  <div class="sidebar shadow" [class.show]="expended()" [class.hide]="!expended()">
    <div class="p-3">
      <h5 (click)="toggleMenu()">
        @if (expended()) {
          <i class="bi-arrow-left"></i> Payroll Management
        } @else {
          <i class="bi-arrow-right"></i>
        }
      </h5>
    </div>

    @if ((anonymous() && expended()) || !showMenu()) {
      <div class="px-3">
        <div class="alert alert-light">Welcome!</div>
        @if (anonymous()) {
          <p>Please sign in to use payroll management system.</p>
        }

        @if (!anonymous() && !activated()) {
          <p>Please change your password before using application.</p>

          <ul class="sidemenu">
            <li>
              <a (click)="signOut()" href="#">Sign Out</a>
            </li>
          </ul>
        }
      </div>
    }

    @if (expended() && showMenu()) {
      <div class="px-3">
        @for (group of menus(); track $index) {
          @if (group.title) {
            <h6>{{group.title}}</h6>
          }

          <ul class="sidemenu" [class.mb-4]="$index < menus().length - 1">
            @for (item of group.items; track $index) {
              <li>
                <a [routerLink]="[item.path]">{{item.name}}</a>
              </li>
            }
          </ul>
        }

        <ul class="sidemenu">
          <li>
            <a (click)="signOut()" href="#">Sign Out</a>
          </li>
        </ul>
      </div>
    }
  </div>

  <div class="container-fluid px-4 mt-3">
    <router-outlet></router-outlet>
  </div>

</div>
