<app-page-title icon="bi-building" [title]="title()">
  <div>
    <a [routerLink]="['../', 'edit']" [queryParams]="{code: data()?.code}" class="btn btn-outline-primary">
      <i class="bi bi-pencil"></i> Edit Department
    </a>
  </div>
</app-page-title>

<ul class="nav nav-underline">
  <li class="nav-item">
    <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#information">
      <i class="bi-info-circle"></i> Information
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#positions">
      <i class="bi-briefcase"></i> Positions
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#employees">
      <i class="bi-people"></i> Employees
    </a>
  </li>
</ul>

<div class="tab-content pt-3">
  <div class="tab-pane fade show active" id="information">
    <app-department-info [data]="data()"></app-department-info>
  </div>
  <div class="tab-pane fade" id="positions">
    <app-department-position [list]="data()?.positions || []"></app-department-position>
  </div>
  <div class="tab-pane fade" id="employees">
    <app-department-employee [list]="data()?.employees || []"></app-department-employee>
  </div>
</div>
