<!-- Title -->
<h3 class="d-flex justify-content-between">
  <span><i class="bi-envelope-open-heart"></i> Allowance Management</span>
  <div>
    <!-- Export Button -->
    <a class="btn btn-outline-primary">
      <i class="bi-plus-lg"></i> Create
    </a>
    <button class="btn btn-outline-primary ms-2">
      <i class="bi-arrow-down-square"></i> Import
    </button>
    <button class="btn btn-outline-primary ms-2">
      <i class="bi-arrow-up-square"></i> Export
    </button>
  </div>
</h3>

<app-card>

</app-card>

<table class="table table-bordered">

</table>
