<app-page-title icon="bi-unlock" title="Sign In"></app-page-title>

<div class="row">
  <div class="col-4">
    <form [formGroup]="form">
      <app-form-group-check label="Login Id" [vertical]="true" [valid]="form.get('username')?.valid">
        <input formControlName="username" type="text" class="form-control" placeholder="Enter Login Id">
      </app-form-group-check>

      <app-form-group-check label="Password" [valid]="form.get('password')?.valid" [vertical]="true">
        <input type="password" formControlName="password" class="form-control" placeholder="Enter Password">
      </app-form-group-check>

      <button type="button" (click)="signIn()" [class.disabled]="!form.valid" class="btn btn-outline-primary">
        <i class="bi-unlock"></i> Sign In
      </button>
    </form>
  </div>
</div>
