<!-- Title -->
<h3 class="d-flex justify-content-between">
  <span><i class="bi-calendar-check"></i> Attendance Management</span>
  <div>
    <!-- Export Button -->
    <button class="btn btn-outline-primary">
      <i class="bi-arrow-up-square"></i> Export
    </button>
  </div>
</h3>

<!-- Search Bar -->
<app-card>
  <form action="#" class="row">
    <!-- Status -->
    <div class="col-auto">
      <app-form-group label="Status">
        <select class="form-select">
          <option value="">All Status</option>
          @for (item of statusList; track $index) {
            <option [value]="item">{{item}}</option>
          }
        </select>
      </app-form-group>
    </div>

    <!-- Date From -->
    <div class="col-auto">
      <app-form-group label="Date From">
        <input type="date" class="form-control">
      </app-form-group>
    </div>

    <!-- Date To -->
    <div class="col-auto">
      <app-form-group label="Date To">
        <input type="date" class="form-control">
      </app-form-group>
    </div>
    <!-- Name -->
    <div class="col-auto">
      <app-form-group label="Name">
        <input type="tel" placeholder="Search Name" class="form-control">
      </app-form-group>
    </div>

    <div class="col btn-wrapper">
      <!-- Search Button -->
      <button class="btn btn-outline-primary me-2">
        <i class="bi-search"></i> Search
      </button>
    </div>
  </form>
</app-card>

<!-- Search Result -->
<table class="table table-bordered table-hover mt-2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Status</th>
      <th>Remark</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    @for (item of dataList; track $index) {
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.date}}</td>
        <td>{{item.checkIn}}</td>
        <td>{{item.checkOut}}</td>
        <td>{{item.status}}</td>
        <td>{{item.remark}}</td>
        <td class="text-center">
          <a [routerLink]="['/attendance', 'edit']"  class="icon-link">
            <i class="bi-pencil"></i>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>

<!-- Pagination -->
<div>
  <app-pagination></app-pagination>
</div>
