<app-list-view icon="bi-building" title="Department Management">

  <div controlsBtns>
    <!-- Export Button -->
    <a [routerLink]="['/department', 'edit']" class="btn btn-outline-primary">
      <i class="bi-plus-lg"></i> Create
    </a>
    <button class="btn btn-outline-primary ms-2">
      <i class="bi-arrow-down-square"></i> Import
    </button>
    <button class="btn btn-outline-primary ms-2">
      <i class="bi-arrow-up-square"></i> Export
    </button>
  </div>

  <form searchForm action="#" class="row">
    <div class="col-auto">
      <app-form-group label="Manager">
        <input type="text" placeholder="Manager Name" class="form-control">
      </app-form-group>
    </div>
    <div class="col-auto">
      <app-form-group label="Name">
        <input type="text" placeholder="Department Name" class="form-control">
      </app-form-group>
    </div>
    <div class="col btn-wrapper">
      <button (click)="search()" type="button" class="btn btn-outline-primary">
        <i class="bi-search"></i> Search
      </button>
    </div>
  </form>

  @if(list().length) {
    <table resultList class="table table-bordered mt-2">
      <thead>
        <tr>
          <th>Code</th>
          <th>Department</th>
          <th>Manager Name</th>
          <th>Manager Phone</th>
          <th>Employees</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (item of list(); track $index) {
          <tr>
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.managerName}}</td>
            <td>{{item.managerPhone}}</td>
            <td>{{item.employees}}</td>
            <td class="text-center">
              <a href="#" [routerLink]="['/department', 'details']" [queryParams]="{code : item.code}" class="icon-link">
                <i class="bi-send"></i>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <app-no-data domain="Department"></app-no-data>
  }

</app-list-view>
