<app-page-title icon="bi-briefcase" [title]="title()">
  <div>
    <a [routerLink]="['../', 'edit']" [queryParams]="{code: data()?.id.code}" class="btn btn-outline-primary">
      <i class="bi-pencil"></i> Edit Position
    </a>
  </div>
</app-page-title>

<ul class="nav nav-underline">
  <li class="nav-item">
    <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#information">
      <i class="bi-info-circle"></i> Information
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#employees">
      <i class="bi-people"></i> Employees
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#permissions">
      <i class="bi-shield-check"></i> Permissions
    </a>
  </li>
</ul>

<div class="tab-content pt-3">
  <div class="tab-pane fade show active" id="information">
    <app-position-info [data]="data()"></app-position-info>
  </div>
  <div class="tab-pane fade" id="employees">
    <app-position-employees [list]="data()?.employees || []"></app-position-employees>
  </div>
  <div class="tab-pane fade" id="permissions">
    <app-position-permission [list]="data()?.permission || []"></app-position-permission>
  </div>
</div>

