<app-list-view icon="bi-envelope" title="Payroll Management">

  <div controlsBtns>
    <!-- Export Button -->
    <a class="btn btn-outline-primary">
      <i class="bi-calculator"></i> Simulate
    </a>
    <button class="btn btn-outline-primary ms-2">
      <i class="bi-arrow-up-square"></i> Export
    </button>
  </div>

  <form searchForm action="#" class="row">
    <!-- Date From -->
    <div class="col-auto">
      <app-form-group label="Pay Date From">
        <input type="date" class="form-control">
      </app-form-group>
    </div>
    <!-- Date To -->
    <div class="col-auto">
      <app-form-group label="Pay Date To">
        <input type="date" class="form-control">
      </app-form-group>
    </div>

    <!-- Department -->
    <div class="col-auto">
      <app-form-group label="Department">
        <input type="text" placeholder="Depeartment Code" class="form-control">
      </app-form-group>
    </div>

    <!-- Employee -->
    <div class="col-auto">
      <app-form-group label="Employee">
        <input type="text" placeholder="Employee Code or Name" class="form-control">
      </app-form-group>
    </div>

    <div class="col btn-wrapper">
      <button class="btn btn-outline-primary">
        <i class="bi-search"></i> Search
      </button>
    </div>
  </form>

  <table resultList class="table table-bordered">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Department</th>
        <th>Position</th>
        <th>Cut Off Date</th>
        <th>Pay Date</th>
        <th class="text-end">Basic Salary</th>
        <th class="text-end">Allowance</th>
        <th class="text-end">Deduction</th>
        <th class="text-end">Tax</th>
        <th class="text-end">Net Salary</th>
      </tr>
    </thead>
  </table>

</app-list-view>

