@if (list().length) {

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Description</th>
        <th class="text-center checkbox-column">Read</th>
        <th class="text-center checkbox-column">Write</th>
        <th class="text-center checkbox-column">Modify</th>
      </tr>
    </thead>

    <tbody>
      @for (item of list(); track $index) {
        @if (item.enable) {
          <tr>
            <td>{{item.resource}}</td>
            <td>{{item.description}}</td>
            <td class="text-center">
              <app-permission [state]="item.read"></app-permission>
            </td>
            <td class="text-center">
              <app-permission [state]="item.write"></app-permission>
            </td>
            <td class="text-center">
              <app-permission [state]="item.modify"></app-permission>
            </td>
          </tr>
          }
      }
    </tbody>
  </table>

} @else {
  <app-no-data domain="Permissions in this position"></app-no-data>
}
