@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import url('../node_modules/bootstrap/scss/bootstrap.scss');

.btn-wrapper {
  padding-top: 2rem;
}

.info-header {
  width: 240px;
}

.sidebar {
  overflow: scroll;
}

.sidebar.show {
  width: 320px;
  min-width: 320px;
}

.sidebar.hide {
  width: 60px;
  min-width: 60px;
  text-align: center;
}

html, body, app-root {
  height: 100% !important;
}

app-root {
  display: flex;
  width: 100% !important;
}

.sidemenu {
  padding: 0px;
  margin: 0px;
}

.sidemenu li{
  list-style: none;
}

.sidemenu a {
  display: block;
  text-decoration: none;
  color: teal;
  padding: 4px 8px;
}

.sidemenu a:hover {
  color: red;
}

.checkbox-column {
  width: 120px;
}

.big-table {
  overflow: auto;
}

.big-table>table {
  width: max-content !important;
}

