<app-list-view icon="bi-calendar-heart" [pager]="page()" title="Holiday Setting">

  <div controlsBtns>
    <!-- Export Button -->
    <a [routerLink]="['../', 'edit']" class="btn btn-outline-primary">
      <i class="bi-plus-lg"></i> Create
    </a>
    <button class="btn btn-outline-primary ms-2">
      <i class="bi-arrow-down-square"></i> Import
    </button>
    <button class="btn btn-outline-primary ms-2">
      <i class="bi-arrow-up-square"></i> Export
    </button>
  </div>

  <form [formGroup]="form" searchForm action="#" class="row">
    <div class="col-auto">
      <app-form-group label="Type">
        <select formControlName="type" class="form-select">
          <option value="">All Type</option>
          @for (item of types(); track $index) {
            <option [value]="item.code">{{item.name}}</option>
          }
        </select>
      </app-form-group>
    </div>

    <div class="col-auto">
      <app-form-group label="Date From">
        <input formControlName="from" type="date" class="form-control">
      </app-form-group>
    </div>

    <div class="col-auto">
      <app-form-group label="Date To">
        <input formControlName="to" type="date" class="form-control">
      </app-form-group>
    </div>

    <div class="col btn-wrapper">
      <button (click)="search()" type="button" class="btn btn-outline-primary">
        <i class="bi-search"></i> Search
      </button>
    </div>
  </form>

  <table resultList class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Holiday</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @for (item of list(); track $index) {
        <tr>
          <td>{{item.date}}</td>
          <td>{{item.type}}</td>
          <td>{{item.holiday}}</td>
          <td>{{item.remark}}</td>
          <td class="text-center">
            <a [routerLink]="['../', 'edit']" [queryParams]="{date: item.date }" class="icon-link">
              <i class="bi-send"></i>
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>

</app-list-view>


